<a href="https://colab.research.google.com/github/dhruv10829-dot/ML-Lab-Work/blob/main/LAB4_Housing_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ML Lab â€“ Experiment 4  
## Inferential Statistical Techniques  
### Dataset: USA Housing

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_selection import SelectKBest, f_regression

%matplotlib inline

In [2]:
df = pd.read_csv('/content/USA_Housing.csv')
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [3]:
X = df.drop(['Price', 'Address'], axis=1)
y = df['Price']

In [4]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [5]:
lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)

print("MSE:", mean_squared_error(y_test, y_pred))
print("R2 Score:", r2_score(y_test, y_pred))

MSE: 10089009300.894518
R2 Score: 0.9179971706834289

In [6]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [7]:
lr_scaled = LinearRegression()
lr_scaled.fit(X_train_scaled, y_train)

y_pred_scaled = lr_scaled.predict(X_test_scaled)

print("MSE after scaling:", mean_squared_error(y_test, y_pred_scaled))
print("R2 after scaling:", r2_score(y_test, y_pred_scaled))

MSE after scaling: 10089009300.89399
R2 after scaling: 0.9179971706834331

In [8]:
selector = SelectKBest(score_func=f_regression, k=4)
X_new = selector.fit_transform(X, y)

X_train_fs, X_test_fs, y_train_fs, y_test_fs = train_test_split(
    X_new, y, test_size=0.2, random_state=42
)

In [9]:
lr_fs = LinearRegression()
lr_fs.fit(X_train_fs, y_train_fs)

y_pred_fs = lr_fs.predict(X_test_fs)

print("MSE after feature selection:", mean_squared_error(y_test_fs, y_pred_fs))
print("R2 after feature selection:", r2_score(y_test_fs, y_pred_fs))

MSE after feature selection: 10073721633.872652
R2 after feature selection: 0.9181214278738085

### Observation:
- Feature scaling improves numerical stability and model performance.
- Feature selection reduces dimensionality while retaining important predictors.
- The regression model performs better after applying inferential statistical techniques.